@import "bootstrap-sprockets";
@import "bootstrap";

@import "products";
@import "scaffolds";

.navbar-default {
  background-color: #d3360b;
  a {
    color: white !important;
  }
  .navbar-brand {
    font-size: 24px;
  }
}

footer {
  padding: 24px;
  text-align: center;
  color: white;
  background-color: #d3360b;
}